In [1]:
import pandas as pd
import mysql.connector

In [2]:
config = {
        'user': 'root',
        'password': 'root',
        'host': 'db',
        'port': 3306,
        'database': 'SQLIntro',
        'charset': 'utf8'
    }

In [3]:
def send_query(query: str) -> pd.DataFrame:
    connection = mysql.connector.connect(**config)
    df_mysql = pd.read_sql(query, con=connection)    
    connection.close()
    return df_mysql

In [4]:
send_query('select * from book;')

   book_id               title            author   price  amount
0        1  Мастер и Маргарита     Булгаков М.А.  670.99       3
1        2       Белая гвардия     Булгаков М.А.  540.50       5
2        3               Идиот  Достоевский Ф.М.  460.00      10
3        4   Братья Карамазовы  Достоевский Ф.М.  799.01       2