# Создание таблицы и получение выборки данных
## Содержание
В этом уроке будет рассмотрен синтаксис и семантика следующих SQL запросов:

* создание таблиц и вставка значений;
* выборка всех данных из таблицы;
* выборка данных из отдельных столбцов;
* выборка отдельных столбцов и присвоение им новых имен;
* создание вычисляемых столбцов;
* вычисляемые столбцы, математические функции;
* вычисляемые столбцы, логические функции;
* выборка данных по простому условию;
* выборка данных с использованием логических выражений и операций;
* выборка данных, операторы BETWEEN, IN;
* выборка текстовых данных по шаблону, оператор LIKE;
* выборка данных с сортировкой.

Структура и наполнение таблицы

Все запросы будут формулироваться для таблицы book:

![table](./images/sql_intro_book_table.png)

## Создание таблицы и заполнение

In [9]:
import pandas as pd
import numpy as np
import mysql.connector

In [10]:
config = {
        'user': 'root',
        'password': 'root',
        'host': 'db',
        'port': 3306,
        'database': 'SQLIntro',
        'charset': 'utf8'
    }

In [11]:
def create_table(query: str) -> None:
    connection = mysql.connector.connect(**config)
    cursor = connection.cursor()
    cursor.execute(query)
    cursor.close()
    connection.close()

In [12]:
def insert_values(query: str) -> None:
    connection = mysql.connector.connect(**config)
    cursor = connection.cursor()
    
    try:
        cursor.execute(query)
        connection.commit()
    except Exception as e:
        print(repr(e))
        connection.rollback()
    finally:
        cursor.close()
        connection.close()

In [13]:
# query = '''
#         CREATE TABLE book(
#                             book_id INT PRIMARY KEY AUTO_INCREMENT,
#                             title   VARCHAR(50),
#                             author  VARCHAR(30),
#                             price   DECIMAL(8, 2),
#                             amount  INT
#                          );
#         '''
# create_table(query)

In [14]:
# query = '''
#         INSERT INTO book (title, author, price, amount) VALUES ('Мастер и Маргарита', 'Булгаков М.А.', 670.99, 3),
#                                                                ('Белая гвардия', 'Булгаков М.А.', 540.50, 5),
#                                                                ('Идиот', 'Достоевский Ф.М.', 460.00, 10),
#                                                                ('Братья Карамазовы', 'Достоевский Ф.М.', 799.01, 2),
#                                                                ('Игрок', 'Достоевский Ф.М.', 480.50, 10),
#                                                                ('Стихотворения и поэмы', 'Есенин С.А.', 650.00, 15);

#         '''
# insert_values(query)

## Выборка данных

In [15]:
def select_data(query: str) -> pd.DataFrame:
    connection = mysql.connector.connect(**config)
    df_mysql = pd.read_sql(query, con=connection)
    connection.close()
    return df_mysql

In [16]:
query = '''
        SELECT *
        FROM book;
        '''

select_data(query).style.hide_index()

In [17]:
query = '''
        SELECT author, title, price
        FROM book;
        '''

select_data(query).style.hide_index()

In [18]:
query = '''
        SELECT title as Название, author as Автор
        FROM book;
        '''

select_data(query).style.hide_index()

In [19]:
query = '''
        SELECT title, amount, amount*1.65 AS pack
        FROM book;
        '''
select_data(query).style.hide_index()

In [20]:
query = '''
        SELECT title, author, amount, round(price*0.7, 2) AS new_price
        FROM book;
        '''

select_data(query).style.hide_index()

In [21]:
query = '''
        SELECT author, title,
               round(IF (author='Булгаков М.А.', price*1.10, IF(author='Есенин С.А.', price*1.05, price)), 2) AS new_price
        FROM book;
        '''

select_data(query).style.hide_index()

In [22]:
query = '''
        SELECT author, title, price
        FROM book
        WHERE amount < 10;
        '''

select_data(query).style.hide_index()

In [23]:
query = '''
        SELECT title, author, price, amount
        FROM book
        WHERE price*amount >= 5000 and (price < 500 or price > 600);
        '''

select_data(query).style.hide_index()

In [24]:
query = '''
        SELECT title, author
        FROM book
        WHERE (price BETWEEN 540.50 and 800) and    amount IN (2, 3, 5, 7);
        '''

select_data(query).style.hide_index()

In [25]:
query = '''
        SELECT title, author
        FROM book
        WHERE title LIKE '% %' AND author LIKE '%С.%';
        '''

select_data(query).style.hide_index()

In [26]:
query = '''
        SELECT author, title
        FROM book
        WHERE amount BETWEEN 2 AND 14 
        ORDER BY author DESC, title ASC;
        '''

select_data(query).style.hide_index()

## Групповые операции

In [27]:
query = '''
        SELECT DISTINCT amount
        FROM book;
        '''

select_data(query).style.hide_index()

In [28]:
query = '''
        SELECT author AS 'Автор', COUNT(author) AS 'Различных_книг', SUM(amount) AS 'Количество_экземпляров'
        FROM book
        GROUP BY author;
        '''

select_data(query).style.hide_index()

In [29]:
query = '''
        SELECT author, MIN(price) AS 'Минимальная цена', MAX(price) AS 'Максимальная цена', AVG(price) AS 'Средняя цена'
        FROM book
        GROUP BY author;
        '''

select_data(query).style.hide_index()

In [30]:
query = '''
        SELECT author, round(SUM(price*amount), 2) AS 'Стоимость', round(SUM(price*amount) * 0.18 / (1 + 0.18), 2) AS 'НДС',
               round(SUM(price*amount) / (1 + 0.18), 2) AS 'Стоимость_без_НДС'
        FROM book
        GROUP BY author;
        '''

select_data(query).style.hide_index()

In [31]:
query = '''
        SELECT MIN(price) AS 'Минимальная_цена', MAX(price) AS 'Максимальная_цена', ROUND(AVG(price), 2) AS 'Средняя_цена'
        FROM book;
        '''

select_data(query).style.hide_index()

In [32]:
query = '''
        SELECT ROUND(AVG(price), 2) AS 'Средняя_цена', ROUND(SUM(price*amount), 2) AS 'Стоимость'
        FROM book
        WHERE amount BETWEEN 5 and 14;
        '''

select_data(query).style.hide_index()

In [33]:
query = '''
        SELECT author, SUM(price*amount) AS 'Стоимость'
        FROM book
        WHERE title <> 'Идиот' and title <> 'Белая гвардия'
        GROUP BY author
        HAVING Стоимость > 5000
        ORDER BY Стоимость DESC;
        '''

select_data(query).style.hide_index()

## Вложенные запросы

In [34]:
query = '''
        SELECT author, title, price
        FROM book
        WHERE price <= (SELECT AVG(price) FROM book)
        ORDER BY price DESC;
        '''

select_data(query).style.hide_index()

In [35]:
query = '''
        SELECT author, title, price
        FROM book
        WHERE price - (SELECT MIN(price) FROM book) <= 150
        ORDER BY price;
        '''

select_data(query).style.hide_index()

In [36]:
query = '''
        SELECT author, title, amount
        FROM book
        WHERE amount IN (SELECT amount FROM book GROUP BY amount HAVING COUNT(amount) = 1);
        '''

select_data(query).style.hide_index()

In [37]:
query = '''
        SELECT author, title, price
        FROM book
        WHERE author = ANY (SELECT author FROM book GROUP BY author HAVING AVG(price) > (SELECT AVG(price) FROM book));
        '''

select_data(query).style.hide_index()

In [38]:
query = '''
        SELECT title, author, amount, (SELECT MAX(amount) FROM book) - amount AS 'Заказ'
        FROM book
        WHERE amount <> (SELECT MAX(amount) FROM book);
        '''

select_data(query).style.hide_index()

In [39]:
query = '''
        SELECT title, author, amount, (SELECT MAX(amount) FROM book) - amount AS 'Заказ'
        FROM book
        WHERE amount <> (SELECT MAX(amount) FROM book);
        '''

select_data(query).style.hide_index()

## Запросы корректировки данных

In [40]:
# query = '''
#         CREATE TABLE supply(supply_id INT PRIMARY KEY AUTO_INCREMENT,
#                             title VARCHAR(50),
#                             author VARCHAR(30),
#                             price DECIMAL(8, 2),
#                             amount INT);
#         '''
# create_table(query)

In [41]:
# query = '''
#         INSERT INTO supply (title, author, price, amount) VALUES ('Лирика', 'Пастернак Б.Л.', 518.99, 2),
#                                                                  ('Черный человек', 'Есенин С.А.', 570.20, 6),
#                                                                  ('Белая гвардия', 'Булгаков М.А.', 540.50, 7),
#                                                                  ('Идиот', 'Достоевский Ф.М.', 360.80, 3);
#         '''
# insert_values(query)

In [42]:
query = '''
        SELECT title, author, price, amount
        FROM supply
        '''

select_data(query).style.hide_index()

In [43]:
query = '''
        INSERT INTO book (title, author, price, amount)
            SELECT title, author, price, amount
            FROM supply
            WHERE author NOT IN ('Булгаков М.А.', 'Достоевский Ф.М.');
        '''

insert_values(query)

In [44]:
query = '''
        SELECT title, author, price, amount
        FROM book
        '''

select_data(query).style.hide_index()

In [45]:
query = '''
        INSERT INTO book (title, author, price, amount)
               SELECT title, author, price, amount
               FROM supply
               WHERE author NOT IN (SELECT author FROM book);
        '''

insert_values(query)

In [46]:
query = '''
        SELECT title, author, price, amount
        FROM book
        '''

select_data(query).style.hide_index()

In [47]:
query = '''
        UPDATE book SET price = 0.9 * price
                    WHERE amount BETWEEN 5 and 10;
        '''

insert_values(query)

In [48]:
query = '''
        SELECT title, author, price, amount
        FROM book
        '''

select_data(query).style.hide_index()

In [49]:

query = '''
        ALTER TABLE book
        ADD COLUMN buy INT DEFAULT 0;
        '''

insert_values(query)

ProgrammingError(1060, "1060 (42S21): Duplicate column name 'buy'", '42S21')

In [50]:
query = '''
        UPDATE book SET buy = IF(title = 'Белая гвардия', 3, IF(title = 'Идиот', 8, IF(title = 'Стихотворения и поэмы', 15, buy)));
        '''

insert_values(query)

In [51]:
query = '''
        UPDATE book SET buy = IF(buy <= amount, buy, amount);
        '''

insert_values(query)

In [52]:
query = '''
        SELECT title, author, price, amount, buy
        FROM book
        '''

select_data(query).style.hide_index()

In [53]:
query = '''
        UPDATE book, supply SET book.amount = book.amount + supply.amount,
                                book.price = IF(book.price <> supply.price, round((book.price + supply.price) / 2, 2), book.price)
        WHERE book.title = supply.title and book.author = supply.author;
        '''

insert_values(query)

In [54]:
query = '''
        SELECT title, author, price, amount, buy
        FROM book
        '''

select_data(query).style.hide_index()

In [55]:
query = '''
        DELETE FROM supply
        WHERE title IN (SELECT title FROM book WHERE book.price = supply.price);
        '''

insert_values(query)

In [56]:
query = '''
        SELECT title, author, price, amount
        FROM supply
        '''

select_data(query).style.hide_index()

In [51]:
# query = '''
#         CREATE TABLE ordering AS
#                 SELECT author, title, 
#                        (SELECT round(AVG(amount)) FROM book) AS amount
#                 FROM book
#                 WHERE amount < (SELECT round(AVG(amount)) FROM book);
#         '''

# create_table(query)

In [57]:
query = '''
        SELECT *
        FROM ordering;
        '''

select_data(query).style.hide_index()

## Таблица "Командировки", запросы на выборку

In [53]:
# query = '''
#         CREATE TABLE trip (
#                              trip_id INT PRIMARY KEY AUTO_INCREMENT, 
#                              name VARCHAR(30), 
#                              city VARCHAR(25), 
#                              per_diem DECIMAL (8,2), 
#                              date_first DATE, 
#                              date_last DATE 
#                           );
#         '''

# create_table(query)

In [56]:
# query = '''
#         INSERT INTO trip (name, city, per_diem, date_first, date_last)
#         VALUES ('Абрамова К.А.', 'Владивосток', 450.00, STR_TO_DATE('2020-07-02', '%Y-%m-%d'), STR_TO_DATE('2020-07-13', '%Y-%m-%d')),
#                ('Федорова А.Ю.', 'Томск', 450.00, STR_TO_DATE('2020-06-20', '%Y-%m-%d'), STR_TO_DATE('2020-06-26', '%Y-%m-%d')),
#                ('Абрамова К.А.', 'Санкт-Петербург', 700.00, STR_TO_DATE('2020-05-28', '%Y-%m-%d'), STR_TO_DATE('2020-06-04', '%Y-%m-%d')),
#                ('Федорова А.Ю.', 'Новосибирск', 450.00, STR_TO_DATE('2020-05-25', '%Y-%m-%d'), STR_TO_DATE('2020-06-04', '%Y-%m-%d')),
#                ('Абрамова К.А.', 'Москва', 700.00, STR_TO_DATE('2020-04-06', '%Y-%m-%d'), STR_TO_DATE('2020-04-14', '%Y-%m-%d')),
#                ('Абрамова К.А.', 'Москва', 700.00, STR_TO_DATE('2020-02-23', '%Y-%m-%d'), STR_TO_DATE('2020-03-01', '%Y-%m-%d')),
#                ('Абрамова К.А.', 'Владивосток', 450.00, STR_TO_DATE('2020-01-14', '%Y-%m-%d'), STR_TO_DATE('2020-01-27', '%Y-%m-%d'));
#         '''

# insert_values(query)

In [58]:
# query = '''
#         INSERT INTO trip (name, city, per_diem, date_first, date_last)
#         VALUES ('Баранов П.Е.', 'Москва', 700.00, STR_TO_DATE('2020-01-12', '%Y-%m-%d'), STR_TO_DATE('2020-01-17', '%Y-%m-%d')),
#                ('Семенов И.В.', 'Москва', 700.00, STR_TO_DATE('2020-01-23', '%Y-%m-%d'), STR_TO_DATE('2020-01-31', '%Y-%m-%d')),
#                ('Ильиных Г.Р.', 'Владивосток', 450.00, STR_TO_DATE('2020-01-12', '%Y-%m-%d'), STR_TO_DATE('2020-02-02', '%Y-%m-%d')),
#                ('Колесов С.П.', 'Москва', 700.00, STR_TO_DATE('2020-02-01', '%Y-%m-%d'), STR_TO_DATE('2020-02-06', '%Y-%m-%d')),
#                ('Баранов П.Е.', 'Москва', 700.00, STR_TO_DATE('2020-02-14', '%Y-%m-%d'), STR_TO_DATE('2020-02-22', '%Y-%m-%d')),
#                ('Лебедев Т.К.', 'Москва', 700.00, STR_TO_DATE('2020-03-03', '%Y-%m-%d'), STR_TO_DATE('2020-03-06', '%Y-%m-%d')),
#                ('Колесов С.П.', 'Новосибирск', 450.00, STR_TO_DATE('2020-02-27', '%Y-%m-%d'), STR_TO_DATE('2020-03-12', '%Y-%m-%d')),
#                ('Семенов И.В.', 'Санкт-Петербург', 700.00, STR_TO_DATE('2020-03-29', '%Y-%m-%d'), STR_TO_DATE('2020-04-05', '%Y-%m-%d')),
#                ('Баранов П.Е.', 'Новосибирск', 450.00, STR_TO_DATE('2020-04-18', '%Y-%m-%d'), STR_TO_DATE('2020-05-04', '%Y-%m-%d')),
#                ('Лебедев Т.К.', 'Томск', 450.00, STR_TO_DATE('2020-05-20', '%Y-%m-%d'), STR_TO_DATE('2020-05-31', '%Y-%m-%d')),
#                ('Семенов И.В.', 'Санкт-Петербург', 700.00, STR_TO_DATE('2020-06-01', '%Y-%m-%d'), STR_TO_DATE('2020-06-03', '%Y-%m-%d')),
#                ('Колесов С.П.', 'Новосибирск', 450.00, STR_TO_DATE('2020-06-03', '%Y-%m-%d'), STR_TO_DATE('2020-06-12', '%Y-%m-%d')),
#                ('Баранов П.Е.', 'Воронеж', 450.00, STR_TO_DATE('2020-07-19', '%Y-%m-%d'), STR_TO_DATE('2020-07-25', '%Y-%m-%d'));
               
#         '''

# insert_values(query)

In [59]:
query = '''
        SELECT name, city, per_diem, date_first, date_last
        FROM trip
        WHERE name LIKE '%а %'
        ORDER BY date_last DESC;
        '''

select_data(query).style.hide_index()

In [60]:
query = '''
        SELECT name
        FROM trip
        WHERE city = 'Москва'
        GROUP BY name
        ORDER BY name;
        '''

select_data(query).style.hide_index()

In [61]:
query = '''
        SELECT city, COUNT(city) AS 'Количество'
        FROM trip
        GROUP BY city
        ORDER BY city;
        '''

select_data(query).style.hide_index()

In [62]:
query = '''
        SELECT city, COUNT(city) AS 'Количество'
        FROM trip
        GROUP BY city
        ORDER BY COUNT(city) DESC
        LIMIT 2;
        '''

select_data(query).style.hide_index()

In [63]:
query = '''
        SELECT name, city, DATEDIFF(date_last, date_first) + 1 AS 'Длительность'
        FROM trip
        WHERE city NOT IN ('Москва', 'Санкт-Петербург')
        ORDER BY DATEDIFF(date_last, date_first) + 1 DESC, city DESC;
        '''

select_data(query).style.hide_index()

In [64]:
query = '''
        SELECT name, city, date_first, date_last
        FROM trip
        WHERE DATEDIFF(date_last, date_first) + 1 = (SELECT MIN(DATEDIFF(date_last, date_first) + 1) FROM trip);
        '''

select_data(query).style.hide_index()

In [65]:
query = '''
        SELECT name, city, date_first, date_last
        FROM trip
        WHERE MONTH(date_last) = MONTH(date_first)
        ORDER BY city, name;
        '''

select_data(query).style.hide_index()

In [66]:
query = '''
        SELECT MONTHNAME(date_first) AS 'Месяц', COUNT(MONTH(date_first)) AS 'Количество'
        FROM trip
        GROUP BY Месяц
        ORDER BY Количество DESC, Месяц ASC;
        '''

select_data(query).style.hide_index()

In [67]:
query = '''
        SELECT name, city, date_first, (DATEDIFF(date_last, date_first) + 1) * per_diem AS 'Сумма'
        FROM trip
        WHERE MONTH(date_first) IN (2, 3) AND YEAR(date_first) = 2020
        ORDER BY name, Сумма DESC;
        '''

select_data(query).style.hide_index()

In [68]:
query = '''
        SELECT name, SUM((DATEDIFF(date_last, date_first) + 1) * per_diem) AS 'Сумма'
        FROM trip
        WHERE name IN (SELECT name FROM trip GROUP BY name HAVING COUNT(name) > 3)
        GROUP BY name
        ORDER BY Сумма DESC;
        '''

select_data(query).style.hide_index()

## Таблица "Нарушения ПДД", запросы корректировки

In [73]:
# query = '''
#         CREATE TABLE fine (
#                              fine_id INT PRIMARY KEY AUTO_INCREMENT, 
#                              name VARCHAR(30), 
#                              number_plate VARCHAR(6),
#                              violation VARCHAR(50),
#                              sum_fine DECIMAL (8,2), 
#                              date_violation DATE, 
#                              date_payment DATE 
#                           );
#         '''

# create_table(query)

In [74]:
query = '''
        INSERT INTO fine (name, number_plate, violation, sum_fine, date_violation, date_payment)
        VALUES ('Баранов П.Е.', 'Р523ВТ', 'Превышение скорости (от 40 до 60)', 500.00, STR_TO_DATE('2020-01-12', '%Y-%m-%d'), STR_TO_DATE('2020-01-17', '%Y-%m-%d')),
               ('Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', 1000.00, STR_TO_DATE('2020-01-14', '%Y-%m-%d'), STR_TO_DATE('2020-02-27', '%Y-%m-%d')),
               ('Яковлев Г.Р.', 'Т330ТТ', 'Превышение скорости (от 20 до 40)', 500.00, STR_TO_DATE('2020-01-23', '%Y-%m-%d'), STR_TO_DATE('2020-02-23', '%Y-%m-%d')),
               ('Яковлев Г.Р.', 'М701АА', 'Превышение скорости (от 20 до 40)', NULL, STR_TO_DATE('2020-01-12', '%Y-%m-%d'), NULL),
               ('Колесов С.П.', 'К892АХ', 'Превышение скорости (от 20 до 40)', NULL, STR_TO_DATE('2020-02-01', '%Y-%m-%d'), NULL),
               ('Баранов П.Е.', 'Р523ВТ', 'Превышение скорости (от 40 до 60)', NULL, STR_TO_DATE('2020-02-14', '%Y-%m-%d'), NULL),
               ('Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', NULL, STR_TO_DATE('2020-02-23', '%Y-%m-%d'), NULL),
               ('Яковлев Г.Р.', 'Т330ТТ', 'Проезд на запрещающий сигнал', NULL, STR_TO_DATE('2020-03-03', '%Y-%m-%d'), NULL);
        '''

insert_values(query)

In [76]:
# query = '''
#         CREATE TABLE traffic_violation (
#                              violation_id INT PRIMARY KEY AUTO_INCREMENT, 
#                              violation VARCHAR(50), 
#                              sum_fine DECIMAL (8,2)
#                           );
#         '''

# create_table(query)

In [77]:
# query = '''
#         INSERT INTO traffic_violation (violation, sum_fine)
#         VALUES ('Превышение скорости (от 20 до 40)', 500.00),
#                ('Превышение скорости (от 40 до 60)', 1000.00),
#                ('Проезд на запрещающий сигнал', 1000.00);
#         '''

# insert_values(query)

In [79]:
query = '''
        SELECT *
        FROM fine
        '''

select_data(query).style.hide_index()

In [78]:
query = '''
        SELECT *
        FROM traffic_violation
        '''

select_data(query).style.hide_index()

In [80]:
query = '''
        UPDATE fine f, traffic_violation tv SET f.sum_fine = tv.sum_fine
        WHERE f.sum_fine IS Null and f.violation = tv.violation;
        '''

insert_values(query)

In [81]:
query = '''
        SELECT *
        FROM fine
        '''

select_data(query).style.hide_index()

In [82]:
query = '''
        SELECT name, number_plate, violation
        FROM fine
        GROUP BY name, number_plate, violation
        HAVING COUNT(number_plate) > 1;
        '''

select_data(query).style.hide_index()

In [83]:
query = '''
        UPDATE fine, (SELECT name, number_plate, violation FROM fine GROUP BY name, number_plate, violation HAVING COUNT(number_plate) > 1) query_in
        SET fine.sum_fine = 2 * fine.sum_fine
        WHERE fine.date_payment IS Null and fine.name = query_in.name AND fine.number_plate = query_in.number_plate AND fine.violation = query_in.violation;
        '''

insert_values(query)

In [84]:
query = '''
        SELECT *
        FROM fine
        '''

select_data(query).style.hide_index()

In [86]:
# query = '''
#         CREATE TABLE payment (
#                              payment_id INT PRIMARY KEY AUTO_INCREMENT, 
#                              name VARCHAR(30), 
#                              number_plate VARCHAR(6),
#                              violation VARCHAR(50),
#                              date_violation DATE, 
#                              date_payment DATE 
#                           );
#         '''

# create_table(query)

In [87]:
query = '''
        INSERT INTO payment (name, number_plate, violation, date_violation, date_payment)
        VALUES ('Яковлев Г.Р.', 'М701АА', 'Превышение скорости (от 20 до 40)', STR_TO_DATE('2020-01-12', '%Y-%m-%d'), STR_TO_DATE('2020-01-22', '%Y-%m-%d')),
               ('Баранов П.Е.', 'Р523ВТ', 'Превышение скорости (от 40 до 60)', STR_TO_DATE('2020-02-14', '%Y-%m-%d'), STR_TO_DATE('2020-03-15', '%Y-%m-%d')),
               ('Яковлев Г.Р.', 'Т330ТТ', 'Проезд на запрещающий сигнал', STR_TO_DATE('2020-03-03', '%Y-%m-%d'), STR_TO_DATE('2020-03-21', '%Y-%m-%d'));
        '''

insert_values(query)

In [88]:
query = '''
        UPDATE fine, payment SET fine.sum_fine = IF(DATEDIFF(payment.date_payment, payment.date_violation) + 1 < 20 , 0.5 * fine.sum_fine, fine.sum_fine), fine.date_payment = payment.date_payment
        WHERE fine.date_payment IS Null and fine.name = payment.name AND fine.number_plate = payment.number_plate AND fine.violation = payment.violation;
        '''

insert_values(query)

In [89]:
query = '''
        SELECT *
        FROM fine
        '''

select_data(query).style.hide_index()

In [90]:
# query = '''
#         CREATE TABLE back_payment AS
#             SELECT name, number_plate, violation, sum_fine, date_violation
#             FROM fine
#             WHERE date_payment IS Null;
#         '''

# create_table(query)

In [91]:
query = '''
        SELECT *
        FROM back_payment;
        '''

select_data(query).style.hide_index()

In [92]:
query = '''
        DELETE FROM fine
        WHERE date_violation < '2020-02-01';
        '''

insert_values(query)

In [93]:
query = '''
        SELECT *
        FROM fine;
        '''

select_data(query).style.hide_index()